
@{
    ViewBag.Title = "Contact";
}

<h2>Desenvolvedores Envolvidos</h2>
<ul>
    <li>Robson Santos</li>
    <li>Fábio Macieira</li>
    <li>Cesar Tristan</li>
    <li>Rafel</li>
    <li>Michel</li>
    <li>Thiago Lima</li>
</ul>

